<div *ngIf="zipCodeWeatherForecast">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{zipCodeWeatherForecast.city.name}}</h3>

    </div>
    <ul class="list-group">
      <li *ngFor="let forecastDetails of zipCodeWeatherForecast.list" class="list-group-item">
        {{getDateFromTimestamp(forecastDetails.dt)}}:
        {{forecastDetails.weather[0].main}}
        - Min: {{getCelsiusDegrees(forecastDetails.temp.min)}}
        - Max: {{getCelsiusDegrees(forecastDetails.temp.max)}}
        <img class="icon" [src]="getWeatherIcon(forecastDetails.weather[0].main)">
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn"
          [routerLink]="'/'" style="margin-top: 15px;">
    &lt; Back to main page</button>
</div>
