<div *ngIf="weatherDetails" class="well flex" style="padding: 15px; margin: 15px; border: 1px solid black;">
  <div>
    <h3>{{weatherDetails.name}} ({{weatherDetails.zipCode}})</h3>
    <h4>Current conditions: {{weatherDetails.weather[0].main}}</h4>
    <h4>Temperatures today:</h4>
    <p>
      Current {{weatherDetails.main.temp}}
      - Max {{weatherDetails.main.temp_max}}
      - Min {{weatherDetails.main.temp_min}}
    </p>
    <p>
      <a href="javascript:void(0)" (click)="navigateToZipCodeDetails(weatherDetails.zipCode)">Show 5-day forecast {{weatherDetails.name}}</a>
    </p>
  </div>
  <div>
    <span (click)="removeZipCode(weatherDetails.zipCode)" class="close" style="cursor: pointer">×</span>
    <img [src]="getWeatherIcon(weatherDetails.weather[0].main)">
  </div>
</div>
